@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";

.padding-stl-1 {
	padding: 80px 0 55px;
	@media #{$bp-large} {
		padding: 50px 0 25px;
	}
}


.margin-neg {
	margin-top: -240px;
	@media #{$bp-medium} {
		padding: 0 50px 50px;
	}
	@media #{$bp-small} {
		padding: 0 30px 40px;
	}
	@media #{$bp-xsmall} {
		padding: 0 20px 40px;
		margin-top: -170px;
	}
}

.text-xs {
	font-family: $os;
	font-weight: 300;
	font-size: 13px;
	color: black;
	&[class*=green-color] {
		color: #8ac540;
	}
}


.owl-dots {
	position: absolute;
	width: 100%;
	bottom: 23px;
	left: 0;
	right: 0;
	text-align: center;
	.owl-dot {
		display: inline-block;
		margin: 0 6px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: #8ac540;
		position: relative;
		&.active {
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 14px;
				height: 14px;
				background-color: #8ac540;
				top: -2px;
				left: -2px;
				border-radius: 50%;
			}
		}
	}
}


.title {
	text-transform: uppercase;
	color: #010101;
	font-size: 25px;
	font-family: $arial;
	text-align: center;
	position: relative;
	padding-bottom: 17px;
	@media #{$bp-small} {
		font-size: 22px;
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		width: 40px;
		height: 2px;
		background-color: #8ac540;
	}
}

.button-more {
	width: 170px;
	height: 40px;
	line-height: 40px;
	background-color: #8ac540;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	background-image: url(../img/arrow-more.png);
	background-repeat: no-repeat;
	background-position: 24px center;
	padding-left: 13px;
}

.button-border {
	display: inline-block;
	padding: 0 33px;
	text-decoration: none;
	outline: none;
	height: 37px;
	line-height: 35px;
	color: black;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	background-color: white;
	border: 1px solid rgba(138, 197, 64, 0.76);
	border-radius: 2px;
	transition: background-color .15s;
	&:hover {
		background-color: rgba(138, 197, 64, 0.76);
		color: #fff;
	}
}

.button {
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: none;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: $os;
	font-weight: 600;
	color: white;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #8ac540;
	border-radius: 2px;
	padding: 0 42px;
}




.social {
	&.bottom-social {
		i {
			&.inst-icon {
				background: url('../img/inst-footer.svg') center top no-repeat;
				width: 18px;
				height: 18px;
				background-size: 100% 100%;
			}
			&.yt-icon {
				background: url('../img/ytube-footer.svg') center top no-repeat;
				width: 16px;
				height: 18px;
				background-size: 100% 100%;
			}
			&.d2-icon {
				margin-top: 2px;
				background: url('../img/d2-footer.png') center top no-repeat;
				width: 28px;
				height: 24px;
			}
		}
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px;
		@media #{$bp-medium} {
			margin: 0 6px;
		}
		a {
			display: inline-block;
			text-decoration: none;
		}
		i {
			display: inline-block;
			&.inst-icon {
				background: url('../img/inst-icon.svg') center top no-repeat;
				width: 16px;
				height: 18px;
				background-size: 100% 100%;
			}
			&.yt-icon {
				background: url('../img/yt-icon.svg') center top no-repeat;
				width: 15px;
				height: 19px;
				background-size: 100% 100%;
			}
			&.d2-icon {
				margin-top: 2px;
				background: url('../img/d2-icon.png') center top no-repeat;
				width: 24px;
				height: 16px;
			}
		}
	}
}



header {
	background: none; 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	.btn-hide {
		background: url('../img/menu.svg') center top no-repeat;
		width: 32px;
		height: 32px;
		background-size: 100% 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 10px;
		display: none;
		@media #{$bp-medium} {
			display: block;
		}
		@media #{$bp-small} {
			left: auto;
			right: 15px;
		}
	}
	.top-line-wrapp {
		padding: 6px 0;
		@media #{$bp-small} {
			display: none;
		}
		&>* {
			vertical-align: middle;
			display: inline-block;
		}
	}
	.top-line {
		background-color: #010201;
		background: #000000; 
		background: linear-gradient(to bottom, #000000 0%,#0a0a0a 100%); 
		color: #fff;
		.top-phone {
			font-size: 15px;
			text-transform: uppercase;
			position: relative;
			padding-left: 26px;
			@media #{$bp-medium} {
				font-size: 13px;
			}
			i.phone-icon {
				display: inline-block;
				background: url('../img/phone-icon.svg') center top no-repeat;
				width: 19px;
				height: 20px;
				background-size: 100% 100%;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.top-mail {
			font-size: 15px;
			line-height: 15px;
			position: relative;
			padding-left: 30px;
			@media #{$bp-medium} {
				font-size: 13px;
			}
			i.mail-icon {
				display: inline-block;
				background: url('../img/mail-icon.svg') center top no-repeat;
				width: 20px;
				height: 21px;
				background-size: 100% 100%;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		.top-search-form {
			width: 305px;
			@media #{$bp-large} {
				width: 280px;
			}
			@media #{$bp-medium} {
				width: 200px;
			}
			.wrapp-input {
				position: relative;
				border: 1px solid white;
				input {
					display: block;
					border: none; 
					outline: none;
					border-radius: 2px;
					height: 25px;
					width: 100%;
					background: none;

					color: #fff;
					font-size: 14px;
					padding-left: 15px;
					font-family: $os;
					font-weight: 400;
				}
				button {
					position: absolute;
					right: 0;
					top: 0;
					width: 41px;
					height: 100%;
					background-color: #8ac540;
					border: none;
					outline: none;
					background-image: url('../img/search-icon.png');
					background-repeat: no-repeat;
					background-position: center center;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.bg-color {
		background-color: #fff;
		padding: 26px 30px 0;
		position: relative;
		@media #{$bp-large} {
			padding: 15px 20px 0;
		}
		@media #{$bp-medium} {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		@media #{$bp-small} {
			padding: 10px 15px 10px;
		}
		.button {
			float: right;
			margin-top: 8px;
			@media #{$bp-medium} {
				margin-top: 0;
				height: 30px;
				line-height: 30px;
				font-size: 10px;
			}
			@media #{$bp-small} {
				display: none;
			}
		}
		.logo {
			display: block;
			text-decoration: none;
			float: left;
			@media #{$bp-medium} {
				width: 130px;
				margin-left: auto;
				margin-right: auto;
			}
			@media #{$bp-xsmall} {
				width: 110px;
			}
			img {
				display: block;
				@media #{$bp-medium} {
					max-width: 100%;
					height: auto;
				}
			}
		}
		.main-nav {
			float: left;
			padding-top: 18px;
			padding-left: 115px;
			@media #{$bp-large} {
				padding-left: 50px;
			}
			@media #{$bp-medium} {
				padding-left: 0;
				display: none;
				float: none;
				width: 100%;
				clear: both;
				text-align: center;
				position: absolute;
				background: #fff;
				top: 100%;
				left: 0;
				padding-top: 0;
				padding-bottom: 5px;
			}
			@media #{$min-m} {
				display: inline-block !important;
			}
			& > li {
				position: relative;
				display: inline-block;
				&:hover {
					&>a {
						border-bottom: 3px solid #8ac540;
					}
					@media #{$min-m} {
						ul {
							opacity: 1;
							visibility: visible;
						}
					}
				}
				&>a {
					display: block;
					color: black;
					font-size: 13px;
					text-transform: uppercase;
					font-family: $os;
					font-weight: 600;
					text-decoration: none;
					padding: 0 25px 50px;
					border-bottom: 3px solid transparent;
					transition: all .15s;
					@media #{$bp-large} {
						font-size: 12px;
						padding: 0 15px 35px;
					}
					@media #{$bp-medium} {
						padding: 0 12px 23px;
					}
				}
				@media #{$bp-medium} {
					display: block;
					&>a {
						display: inline-block;
						padding-bottom: 3px;
						margin-bottom: 3px;
					}
				}
			}
			& > li > ul {
				position: absolute;
				top: 100%;
				left: 0;
				width: 341px;
				background-color: rgba(255,255,255,.8);
				padding: 10px 23px;
				opacity: 0;
				visibility: hidden;
				@media #{$bp-medium} {
					position: relative;
					text-align: center;
					width: 100%;
					display: none;
					opacity: 1;
					visibility: visible;
				}
				@media #{$min-m} {
					display: block !important;
				}
				li {
					margin: 10px 0;
					@media #{$bp-medium} {
						margin: 0px 0;
					}
					a {
						text-decoration: none;
						display: inline-block;
						font-family: $os;
						color: #060301;
						font-size: 15px;
						@media #{$bp-medium} {
							font-size: 12px;
							line-height: 13px;
						}
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

		}
	}
}


.gradient1 {
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 403px;
		background: url('../img/gradient.png') center top repeat-x;
		
	}

}


.section-carousel-1 {
	position: relative;
	.item {
		img {
			width: 100%;
			height: auto;
		}
	}
}













.section-greenline {
	background-color: #8ac540;
	padding: 32px 0;
	@media #{$bp-large} {
		padding: 25px 0;
	}
	@media #{$bp-medium} {
		padding: 10px 0;
	}

	[class*=col] {
		@media #{$bp-medium} {
			margin: 20px 0;
		}
	}
	.advantages {
		position: relative;
		padding-left: 30px;
		margin-left: 65px;
		color: white;
		font-size: 15px;
		line-height: 30px;
		text-transform: uppercase;
		@media #{$bp-large} {
			line-height: 23px;
			padding-left: 20px;
			font-size: 13px;
		}
		@media #{$bp-small} {
			font-size: 12px;
			line-height: 18px;
			margin-left: 65px;
		}
		i {
			display: inline-block;
			position: absolute;
			right: 100%;
			top: 50%;
			transform: translateY(-50%);
			&.icon-1-1 {
				background: url('../img/icon-1-1.svg') center top no-repeat;
				width: 56px;
				height: 56px;
				background-size: 100% 100%;
			}
			&.icon-1-2 {
				background: url('../img/icon-1-2.svg') center top no-repeat;
				width: 48px;
				height: 59px;
				background-size: 100% 100%;
				@media #{$bp-medium} {
					right: auto;
					left: -55px;
				}
			}
			&.icon-1-3 {
				background: url('../img/icon-1-3.svg') center top no-repeat;
				width: 54px;
				height: 65px;
				background-size: 100% 100%;
			}
			&.icon-1-4 {
				background: url('../img/icon-1-4.svg') center top no-repeat;
				width: 65px;
				height: 65px;
				background-size: 100% 100%;
			}
		}
	}
}




.section-service {
	.wrapp-service {
		margin: 0 -10px;
		padding-top: 50px;
		@media #{$bp-large} {
			padding-top: 35px;
		}
		@media #{$bp-medium} {
			text-align: center;
		}
		[class*=col] {
			padding: 0 10px;
			margin-bottom: 25px;
			&:nth-child(4n+1) {
				clear: left;
			}
		}
		.item-service {
			position: relative;
			height: 100%;
			background-color: white;
			box-shadow: 2.5px 4.3px 4px rgba(0, 0, 0, 0.07);
			color: black;
			text-align: right;
			padding-bottom: 80px;
			@media #{$bp-medium} {
				display: inline-block;
				max-width: 281px;
			}
			.m-h-2 {
				position: relative;
				padding-top: 18px;
				padding-bottom: 12px;
				@media #{$bp-medium} {
					padding-top: 12px;
					padding-bottom: 10px;
				}
			}
			.button-border {
				position: absolute;
				right: 20px;
				bottom: 20px;
				@media #{$bp-large} {
					right: 15px;
				}
			}
			h4 {
				text-align: left;
				font-size: 21px;
				margin: 0;
				padding: 0 20px;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				@media #{$bp-large} {
					font-size: 19px;
					padding: 0 15px;
				}
			}
			p {
				margin: 0;
				text-align: left;
				padding: 0 20px;
				font-size: 15px;
				line-height: 24px;
				@media #{$bp-large} {
					font-size: 14px;
					line-height: 18px;
					padding: 0 15px;
				}
			}
			img {
				max-width: 100%;
				height: auto;
				max-height: 224px;
			}
		}
	}
}









.section-carousel-2 {
	padding: 90px 0;
	background: url('../img/bg-carousel.jpg') center top no-repeat;
	background-size: cover;
	position: relative;
	@media #{$bp-large} {
		padding: 60px 0;
	}
	.owl-item.active {
		.owl-nav-custom {
			display: block;
		}
	}
	.owl-nav-custom {
		position: absolute;
		top: 50%;
		z-index: 2;
		width: 100%;
		left: 0;
		right: 0;
		display: none;
		.customNextBtn,
		.customPrevBtn {
			width: 50px;
			height: 50px;
			transform: translateY(-50%);
			background-color: #8ac540;
			border-radius: 50%;
			position: absolute;
			@media #{$bp-medium} {
				width: 34px;
				height: 34px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				margin: auto;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.customPrevBtn {
			left: -25px;
			@media #{$bp-medium} {
				left: -17px;
			}
			&:after {
				width: 13px;
				height: 24px;
				background: url('../img/arrow-left.svg') center top no-repeat;
				background-size: 100% 100%;
				@media #{$bp-medium} {
					width: 7px;
					height: 12px;
				}
			}
		}
		.customNextBtn {
			right: -25px;
			@media #{$bp-medium} {
				right: -17px;
			}
			&:after {
				width: 13px;
				height: 25px;
				background: url('../img/arrow-right.svg') center top no-repeat;
				background-size: 100% 100%;
				@media #{$bp-medium} {
					width: 7px;
					height: 12px;
				}
			}
		}
	}
	.slide {
		background-color: white;
		width: 100%;
		position: relative;
		.slide-top-bg {
			padding: 20px 35px 20px;
			@media #{$bp-large} {
				padding: 15px 30px 20px;
			}
			@media #{$bp-medium} {
				padding: 10px 20px 10px;
			}
			p {
				line-height: 30px;
				text-align: left;
				@media #{$bp-large} {
					line-height: 25px;
				}
			}
			.text-xs {
				text-align: left;
			}
			h2 {
				text-align: left;
				color: black;
				font-size: 31px;
				font-weight: 700;
				line-height: 36px;
				margin: 0 0 15px;
				padding-top: 16px;
				@media #{$bp-large} {
					font-size: 28px;
					line-height: 32px;
				}
				@media #{$bp-medium} {
					font-size: 24px;
					line-height: 28px;
				}
			}
		}
		.wrapp-image-slider {
			position: relative;
			.picture {
				max-width: 100%;
				display: block;
				height: auto;
			}
		}
	}
}



.section-our-work {
	padding-bottom: 80px;
	@media #{$bp-large} {
		padding-bottom: 50px;
	}
	.inst-wrapp {
		margin: 0 -10px;
		text-align: center;
		padding-top: 45px;
		padding-bottom: 25px;
		[class*=col] {
			padding: 0 10px;
			margin-bottom: 20px;
		}
		.inst-item {
			position: relative;
			display: inline-block;
			text-decoration: none;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0, .3);
				opacity: 0;
				transition: .15s;
			}
			&:hover {
				&:after{
					opacity: 1;
				}
				span {
					opacity: 1;
				}
			}
			img {
				max-width: 100%;
				display: block;
				margin-left: auto;
				margin-right: auto;
				height: auto;
			}
			span {
				position: absolute;
				left: 0;
				right: 0;
				width: 100%;
				color: white;
				font-size: 25px;
				font-weight: 700;
				font-family: $os;
				text-align: center;
				text-transform: uppercase;
				opacity: 0;
				z-index: 1;
				transition: opacity .15s;
				top: 50%;
				transform: translateY(-50%) translateZ(0);
				@media #{$bp-large} {
					font-size: 20px;
				}
				@media #{$bp-medium} {
					font-size: 12px;
				}
				em {
					font-family: $play;
					font-style: italic;
					font-weight: 900;
					text-transform: none;
					font-size: 27px;
					@media #{$bp-large} {
						font-size: 22px;
					}
					@media #{$bp-medium} {
						font-size: 14px;
					}
				}
				i {
					display: block;
					background: url('../img/logo-inst.png') center top no-repeat;
					width: 53px;
					height: 53px;
					margin-top: 20px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}




.section-work {
	padding-bottom: 50px;
	.slider-3 {
		text-align: center;
		position: relative;
		padding-bottom: 70px;
		padding-top: 55px;
		@media #{$bp-large} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		@media #{$bp-medium} {
			padding: 15px 0;
		}
		.owl-dots {
			bottom: 0;
		}
		.item {
			position: relative;
			.w-inl {
				display: inline-block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		img {
			max-width: 100%;
			width: auto !important;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			transform: translateZ(0);
		}
	}
}




.section-menu-2 {
	background-color: #8ac540;
	text-align: center;
	padding: 27px 0;
	@media #{$bp-medium} {
		padding: 16px 0;
	}
	.menu-2 {
		li {
			display: inline-block;
			margin: 0 24px;
			@media #{$bp-small} {
				display: block;
				margin: 3px 0;
			}
			a {
				text-decoration: none;
				display: inline-block;
				color: #fff;
				font-size: 13px;
				text-transform: uppercase;
				font-family: $arial;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}



.table {
	display: table;
	width: 100%;
	height: 100%;
	.t-cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.section-map {
	background-color: #fafafa;
	padding: 30px 0 0;
	@media #{$bp-small} {
		padding: 15px 0 0;
	}
	.table {
		@media #{$bp-small} {
			display: block;
			.t-cell {
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}
	.container {
		position: relative;
		padding-bottom: 30px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 15px;
			right: 15px;
			bottom: 0;
			border-bottom: 1px solid rgba(0,0,0, .3);
		}
	}
	.contact-block {
		color: black;
		font-size: 13px;
		line-height: 36px;
		font-family: $arial;
		@media #{$bp-medium} {
			font-size: 12px;
			line-height: 30px;
		}
	}
	.map-block {
		width: 66%;
		height: 183px;
		iframe {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}


.inl-bl {
	display: inline-block;
	position: relative;
}

footer {
	background-color: #fafafa;
	padding: 43px 0 40px;
	@media #{$bp-small} {
		padding: 20px 0 30px;
	}
	.bottom-social,
	.copy,
	.dev {
		display: inline-block;
		vertical-align: middle;
		@media #{$bp-small} {
			display: block;
			text-align: center;
			margin: 15px 0;
		}
	}
	.copy {
		color: black;
		font-size: 13px;
		font-family: $proxima;
	}
	.dev {
		position: relative;
		color: black;
		font-size: 13px;
		font-family: $arial;
		.inl-bl {
			padding-right: 75px;
		}
		i {
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url('../img/ruso-logo.png') center top no-repeat;
			width: 57px;
			height: 60px;	
		}
	}
}





.patch {
	position: relative;
	z-index: 2;
	padding-top: 167px;
	padding-bottom: 463px;
	@media #{$bp-large} {
		padding-top: 139px;
	}
	@media #{$bp-medium} {
		padding-top: 113px;
	}
	@media #{$bp-small} {
		padding-top: 67px;
	}
	@media #{$bp-xsmall} {
		padding-bottom: 300px;
	}
	li {
		display: inline-block;
		color: white;
		font-size: 13px;
		font-family: $arial;
		position: relative;
		padding: 0 11px;
		&:not(:last-child) {
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: -4px;
				top: 50%;
				transform: translateY(-50%);
				background: url('../img/arrow-patch.svg') center top no-repeat;
				width: 5px;
				height: 9px;
				background-size: 100% 100%;
			}
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			font-size: 13px;
		}
	}
}


.section-vacancies-bg {
	background: url('../img/jobs-bg.jpg') center top no-repeat;
	background-size: cover;
}


.section-outvacancies {
	padding-bottom: 70px;
	background-color: #fafafa;
	@media #{$bp-medium} {
		padding-bottom: 50px;
	}
	@media #{$bp-small} {
		padding-bottom: 40px;
	}
	.bgf {
		background-color: #fff;
		background-image: url(../img/key.png);
		background-position: 98% 70px;
		background-repeat: no-repeat;
		padding: 0 80px 70px;
		position: relative;
	}
	.specialist {
		display: block;
		margin-left: 147px;
		margin-top: -200px;
		margin-bottom: 35px;
		max-width: 100%;
		height: auto;
		@media #{$bp-large} {
			margin-left: auto;
			margin-right: auto;
		}
		@media #{$bp-xsmall} {
			margin-top: -80px;
		}
	}
	.title {
		margin-bottom: 55px;
		@media #{$bp-medium} {
			margin-bottom: 50px;
		}
		@media #{$bp-small} {
			margin-bottom: 40px;
		}
		@media #{$bp-xsmall} {
			margin-bottom: 30px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 74px;
		}
	}
	h4 {
		font-size: 15px;
		color: #8ac540;
		line-height: 22px;
		text-transform: uppercase;
		font-family: $arialbd;
		margin: 0 0 3px;
		@media #{$bp-small} {
			font-size: 14px;
		}
		&+p {
			margin-bottom: 40px;
			@media #{$bp-small} {
				margin-bottom: 30px;
			}
		}
	}
	p {
		font-size: 15px;
		color: black;
		line-height: 27px;
		margin: 0;
		@media #{$bp-small} {
			font-size: 13px;
			line-height: 20px;
		}
	}
	.button {
		padding: 0 23px;
		margin-top: 10px;
	}
}


.page-serv {
	.patch {
		padding-bottom: 0;
	}
	.container {
		position: relative;
		z-index: 2;
	}
	h2 {
		text-align: center;
		font-family: $arial;
		color: white;
		font-size: 45px;
		padding-bottom: 35px;
		margin: 70px 0 310px;
		position: relative;
		@media #{$bp-small} {
			font-size: 23px;
			padding-bottom: 20px;
			margin-bottom: 300px;
		}
		@media #{$bp-xsmall} {
			margin-bottom: 250px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 90px;
			height: 3px;
			background-color: #8ac540;
			bottom: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.bg-open-page {
	background-color: #fff;
	padding: 40px 50px 40px 45px;
	@media #{$bp-medium} {
		padding: 35px;
	}
	@media #{$bp-small} {
		padding: 20px;
	}
	@media #{$bp-xsmall} {
		padding: 10px;
	}

}

.section-slider {
	background-color: #fafafa;
	.container {
		position: relative;
	}
	&.margin-neg {
		margin-top: -240px;
	}
	.gallery-wrapp {
		width: 34.5%;
		float: left;
		@media #{$bp-medium} {
			width: auto;
			max-width: 370px;
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
		.main-photo {
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
		.fancy-g {
			display: block;
			margin-top: 10px;
			img {
				height: auto;
				max-width: 100%;
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.text-gallery {
		width: 65.5%;
		float: right;
		padding-left: 25px;
		padding-bottom: 70px;
		position: relative;
		@media #{$bp-medium} {
			width: 100%;
			float: none;
			margin-top: 20px;
			padding-left: 0;
		}
		@media #{$bp-xsmall} {
			padding-bottom: 0;
		}
		p {
			color: black;
			font-size: 16px;
			line-height: 24px;
			font-family: $os;
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 20px;
			@media #{$bp-small} {
				font-size: 14px;
				line-height: 19px;
			}
			b {
				font-weight: 700;
			}
		}
		.slider-btn-wrapp {
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			@media #{$bp-xsmall} {
				text-align: center;
				position: static;
			}
			.price-link {
				color: #8ac540;
				font-size: 16px;
				line-height: 18px;
				text-decoration: none;
				font-family: $arial;
				padding-bottom: 8px;
				border-bottom: 1px solid #8ac540;
				position: relative;
				&:after {
					content: '';
					display: block;
					position: absolute;
					background: url('../img/price.svg') center top no-repeat;
					width: 23px;
					height: 24px;
					background-size: 100% 100%;
					left: -33px;
					top: 0;
				}
			}
			&>* {
				display: inline-block;
				vertical-align: bottom;
				@media #{$bp-xsmall} {
					margin: 10px !important;
				}
				&:last-child {
					margin-left: 35px;
				}
			}
		}
	}
}



.fancybox-nav {
	top: 50% !important;
	transform: translateY(-50%) !important;
	span {
		visibility: visible !important;
	}
}
.fancybox-next {
	right: 20px !important;
}
.fancybox-prev {
	left: 20px !important;
}
.fancybox-next,
.fancybox-prev {
	width: 32px !important;
	height: 32px !important;
}
.fancybox-next span {
	width: 32px;
	height: 32px;
	background: #8ac540;
	background-image: none !important;
	right: 0 !important;
	&:after {
		content: '';
		display: block;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url('../img/r-sm.svg') center top no-repeat;
		width: 8px;
		height: 14px;
		background-size: 100% 100%;
	}
}
.fancybox-prev span {
	width: 32px;
	height: 32px;
	background: #8ac540;
	background-image: none !important;
	left: 0 !important;
	&:after {
		content: '';
		display: block;
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url('../img/l-sm.svg') center top no-repeat;
		width: 8px;
		height: 14px;
		background-size: 100% 100%;
	}
}

.section-slider .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: 5px;
	.owl-prev,
	.owl-next {
		width: 32px;
		height: 32px;
		background-color: #8ac540;
		position: absolute;
		&:after {
			content: '';
			display: block;
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
	.owl-prev {
		left: 0;
		transform: translateY(-50%);
		&:after {
			background: url('../img/l-sm.svg') center top no-repeat;
			width: 8px;
			height: 14px;
			background-size: 100% 100%;
		}
	}
	.owl-next {
		right: 0;
		transform: translateY(-50%);
		&:after {
			background: url('../img/r-sm.svg') center top no-repeat;
			width: 8px;
			height: 14px;
			background-size: 100% 100%;
		}
	}
}


.section-stage {
	padding-top: 30px;
	padding-bottom: 80px;
	@media #{$bp-medium} {
		padding-bottom: 50px;
	}
	@media #{$bp-small} {
		padding-bottom: 40px;
	}
	background-color: #fafafa;
	h3 {
		color: #8ac540;
		font-size: 17px;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0 0 25px 0;
		font-family: $arialbd;
		@media #{$bp-small} {
			font-size: 16px;
			line-height: 20px;
		}
	}
	h5 {
		padding: 20px 20px 20px 43px;
		font-family: $arial;
		color: black;
		background-color: #fefefe;
		border: 1px solid #8ac540;
		border-bottom: none;
		font-size: 16px;
		margin: 0;
		position: relative;
		cursor: pointer;
		@media #{$bp-small} {
			font-size: 15px;
			padding: 12px 10px 12px 30px;
		}
		&:last-of-type {
			border-bottom: 1px solid #8ac540;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			background: url('../img/plus.svg') center top no-repeat;
			width: 15px;
			height: 15px;
			left: 13px;
			background-size: 100% 100%;
			@media #{$bp-small} {
				left: 7px;
			}
		}
		&.active {
			background-color: #8ac540;
			color: white;
			&:after {
				background-image: url('../img/close-p.svg');
				width: 15px;
				height: 16px;
			}
		}
	}
	p.hidden-txt {
		display: none;
		padding: 22px 32px 22px 45px;
		margin: 0;
		background-color: #e0f9c1;
		color: black;
		font-size: 14px;
		line-height: 20px;
		font-family: $arial;
		width: 99.8%;
		margin-left: auto;
		margin-right: auto;
		&+h3 {
			margin-top: 50px;
		}
		@media #{$bp-small} {
			padding: 15px 20px;
		}
	}
	iframe {
		display: block;
		margin: 90px auto;
		max-width: 100%;
		max-height: 330px;
		@media #{$bp-medium} {
			margin: 50px auto;
		}
		@media #{$bp-xsmall} {
			max-height: 200px;
			margin: 30px auto;
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid rgba(138, 197, 64, 0.7);
		tr:nth-child(odd) {
			background-color: #dceec6;
		}
		tr:nth-child(even) {
			background-color: #e8f3d9;
		}
		tr:first-child {
			background-color: #d0e8b2;
			td {
				font-size: 13px;
				padding: 10px;
				@media #{$bp-xsmall} {
					padding: 4px;
				}	
				&:first-child {
					text-align: center;
				}
			}
		}
		td {
			color: black;
			font-size: 14px;
			line-height: 18px;
			font-family: $arial;
			padding: 10px 15px;
			border: 1px solid #b9dc8d;
			border-top: none;
			border-bottom: none;
			text-align: center;
			@media #{$bp-small} {
				padding: 10px;
				font-size: 13px;
			}
			@media #{$bp-xsmall} {
				font-size: 10px;
				line-height: 14px;
				padding: 4px;
			}
			&:first-child {
				padding: 30px;
				text-align: left;
				@media #{$bp-medium} {
					padding: 20px;
				}
				@media #{$bp-small} {
					padding: 10px;
				}
				@media #{$bp-xsmall} {
					padding: 4px;
				}
			}
		}
	}
}



.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
}